label
{
    color: white;
    font-size: 27px;
    background-color: #8bcb2a;
    border-radius: 7px;
    padding: 5px 10px;
    margin: 10px 0 10px 0
}

.sumar-btn
{
    color: white;
    font-size: 27px;
    background-color:lightblue;
    border-radius: 7px;
    padding: 5px 10px;
    display: block;
    margin: 20px 0 10px 0;
    border: none;
    transition: 1s all ease-in-out;
}

.sumar-btn:hover
{
    background-color: #81c1d6; 
    transform: scale(1.1);
}
